/config.yaml
/pytorch_model.bin
/pytorch_model_embedding.bin
/models/*
!/models/.gitkeep
/transcripts/*
!/transcripts/.gitkeep
/input/*
/diarizations/*
!/diarizations/.gitkeep
/converted/*
!/converted/.gitkeep
/EasyWhisper.code-workspace
__pycache__/
*.pyc